build/
out/
.gradle/
.idea/
*.db
*.iml
*.ipr
*.iws
application.properties
neo4j-home/
node_modules/
**/static/dist/
**/static/sass/compiled/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
