<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="SCORE_LOG_PATTERN" value="${SCORE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n}"/>

    <!-- On a windows development environment, this file ends up in USER_HOME\AppData\Local\Temp -->
    <property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/"/>

    <appender name="SCORE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${SCORE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}user-score.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}user-score.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 7 days' worth of history capped at 1GB total size -->
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="com.nodestand.service.vote.ScoreLogger" level="INFO" additivity="false">
        <appender-ref ref="SCORE"/>
    </logger>
</configuration>