@import 'material-fix';
@import 'colors';


body, .body-inner {
  background-color: $finer-background;
}

.container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: rgb(73, 73, 73);
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-hero-block {
  display:inline-block;
  margin-left: 15px;
  .hero-bullets {
    margin-left: -15px;
  }
}

@media (max-width: 959px) {
  .header-hero-block .hero-bullets {
    display: none;
  }
}

.hero-bullets {
  list-style-type: circle;
  line-height: 1.5em;
}

.hero-emphasis {
  font-weight: bold;
  font-size: 0.95em;
  font-style: italic;
  color: #495a63;
}

.finer-points-logo {
  height: 100px;
  width: 323px;
  float: left;
  margin-right: 30px;
  margin-bottom: 15px;
}

@media (max-width: 400px) {
  .finer-points-logo {
    width: 100%;
    height: auto;
  }
}

.spaced-inline {
  margin-left: 10px;
}

.spaced-inline-right {
  margin-right: 10px;
}

.spaced-inline:first-child {
  margin-left: 0;
}

.header-text {
  font-size: 16px;
}

.footer {
  color: #AAA;
  font-size: .9em;
  margin: 150px auto 50px;
  max-width: 800px;

  .footer-chunk {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
  }

  ul li {
    list-style-type: circle;
    a {
      color: #AAA;
    }
  }
}

.node-qualifier {
  color: #777;
  font-style: italic;
  font-size: .9em;
}

.node-list-item {
  .node-list-title {
    margin-bottom: 5px;
  }

  .node-list-author {
    font-size: .9em;
    margin-top: 5px;
    color: #777;
  }
}

.card-margin {
  margin: 8px;
}

.node-type-icon {
  color: $md-primary-color;
}
