

.commentSection{

  .comments-header {
    font-size: 18px;
    margin-left: 10px;
  }

  .editor-wrapper {
    margin: 10px;
    clear: left;
  }

  .comment-text {
    overflow: auto;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;

  }

  .panel {
    margin-bottom: 8px;
  }

  .comment-block {
    .comment-card {
      background-color: white;
      border-top: solid 1px #F0F0F0;
    }

    .comment-card.stripe {
      background-color: #f8f8f8;
    }

    .comment-card:first-child {
      margin-top: 0;
    }

    .comment-block {
      margin-left: 10px;
    }

    .panel-body {
      padding: 4px 10px 5px 0;
    }

    .comment-heading {
      margin-top: 2px;
      margin-left: 5px;
      font-size: 0.85em;

      .icon-btn {
        color: #BBB;
      }
    }
  }


  .icon-btn {
    padding: 3px;
    background: none;
    line-height: 5px;
  }

  .created-date {
    display: inline-block;
  }

  .created-date, .edited-date {
    font-size: 0.85em;
    color: #999;
  }

  .comment-sorter.form-control {
    margin-left: 12px;
    display: inline-block;
    width: auto;
  }

  .replies {
    clear: both;
  }
}

.vote-cluster, .comment-vote-wrapper {
  display: inline-block;
  float: left;
}

.comment-vote-cluster {

  .comment-vote-btn:hover {
    color: black;
  }
}

.comment-vote-btn {
  display: block;
  color: lightgray;
  border: none;
}

.comment-section-card {
  margin-bottom: 20px;
}
