@import 'material-fix';
@import 'colors';


body, .body-inner {
  background-color: $finer-background;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: rgb(73, 73, 73);
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hero-emphasis {
  font-weight: bold;
  font-size: 1.05em;
  font-style: italic;
  color: #5d7d8e;
}

.panel-heading h3 {
  margin: 0;
}

.finer-points-logo {
  height: 100px;
  width: 323px;
  float: left;
  margin-right: 30px;
  margin-bottom: 15px;
}

@media (max-width: 400px) {
  .finer-points-logo {
    width: 100%;
    height: auto;
  }
}

.spaced-inline {
  margin-left: 10px;
}

.spaced-inline:first-child {
  margin-left: 0;
}

.header-text {
  font-size: 16px;
}