
$commentVotePush: 25;

.commentSection{
  .editor-wrapper {
    margin-bottom: 10px;
  }

  .panel {
    margin-bottom: 8px;
  }

  .comment-block {
    .panel {
      background-color: #fafafa;
    }

    .panel.stripe {
      background-color: white;
    }

    .comment-block {
      margin-left: (-$commentVotePush) + 10 + px;
    }

    .panel-body {
      padding: 4px 10px 5px $commentVotePush + px;
    }

    .comment-heading {
      margin-bottom: 5px;
      font-size: 0.9em;

      .icon-btn {
        color: #BBB;
      }
    }
  }


  .icon-btn {
    padding: 3px;
    background: none;
    line-height: 5px;
  }

  .replies {
    margin-top: 10px;
  }

  .created-date {
    display: inline-block;
    font-size: 0.9em;
    color: #149359;
  }

  .edited-date {
    font-size: 0.9em;
    color: #999;
  }

  .comment-sorter.form-control {
    margin-left: 12px;
    display: inline-block;
    width: auto;
  }
}

.vote-cluster, .comment-vote-cluster {
  display: inline-block;
  float: left;
}

.comment-vote-cluster {

  margin-left: -$commentVotePush + px;

  .comment-vote-btn.btn {
    background: none;
  }

  .comment-vote-btn.btn:hover {
    color: black;
  }
}

.comment-vote-btn.btn {
  display: block;
  color: lightgray;
  border: none;
}



