.childrenDiv {
  margin-left: 12px;
  position: relative;
}

.nodeDiv {
  margin-bottom: 0;
  margin-top: 4px;
}

.nodeDiv.highlighted {
  .panel-heading {
    background-color: #E2ECE0;
  }
}

.childrenDiv:before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: 1px;
  left: -7px;
  width: 4px;
  z-index: -1;

  background-color: rgb(217, 217, 217);

}

/*.nodeContent {*/
/*display: inline-block;*/
/*}*/

.node-heading.leftPaddingWithChild {
  padding-left: 0;
}


.toggleChildren {
  display: inline-block;
  color: rgb(149, 176, 164);
}

.nodeDiv .icon-btn {
  padding: 3px;
  background: none;
}

.rootTitle {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.byLine {
  margin-left: 20px;
}

.node-link {
  border-bottom: solid 2px #d7d7d7;
  background-color: #f3f3f3;
}

.node-heading {
  padding: 3px 8px;
}

.node-heading, .nodeContent {
  position: relative;
}

.node-id {
  display: none;
}

.bottom-right-button {
  position: absolute;
  bottom: 3px;
  right: 5px;
  color: #b0b0b0;
  cursor: pointer;
}
