

.childrenDiv {
  position: relative;
  display: inline-block;
}

.nodeDiv {
  margin-bottom: 0;
  margin-top: 4px;
  padding: 10px;
  font-size: 14px;
}

.nodeDiv.highlighted {
  .panel-heading {
    background-color: #E2ECE0;
  }
}

.node-heading.leftPaddingWithChild {
  padding-left: 0;
}

.child-node-title {
  font-size: 18px;
}


.toggleChildren {
  display: inline-block;
  color: rgb(149, 176, 164);
}

.nodeDiv .icon-btn {
  padding: 3px;
  background: none;
}

.rootTitle {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node-link {
  border-bottom: solid 2px #d7d7d7;
  background-color: #f3f3f3;
}

.node-heading {
  padding: 3px 8px;
}

.node-heading, .nodeContent {
  position: relative;
}

.node-id {
  display: none;
}

.bottom-right-button {
  color: #b0b0b0;
  cursor: pointer;
  margin-left: 10px;
}

.root-node-panel {
  position: relative;
}

.gutter {
  position: absolute;
  bottom: 2px;
  right: 8px;
  left: 8px;
}

.draft-marker {
  color: gray;
}