@import 'colors';

.childrenDiv {
  position: relative;
  display: inline-block;
}

.nodeDiv {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 8px;
  padding: 10px;
  font-size: 14px;
  outline: none;
  -ms-word-wrap:break-word;
  word-wrap:break-word;

  &.highlighted {
    .child-node-title {
      background-color: $node-highlight-color;
      animation: highlight-pulse 200ms 4;
    }
  }
}

.child-node-title {
  font-size: 16px;
  padding: 2px;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 6px;
}

.child-body {
  margin-top: 20px;
}

.nodeDiv .icon-btn {
  padding: 3px;
  background: none;
}

.rootTitle {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node-link {
  border-bottom: solid 1px #d1d1d1;
  background-color: $node-link-color;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.node-id {
  display: none;
}

.root-node-card, .vivagraph-card, .child-nodes {
  margin-bottom: 15px;
}

.child-nodes {
  margin-left: 8px;
}

.root-node-card {

  -ms-word-wrap:break-word;
  word-wrap:break-word;

  md-card-content {
    padding-bottom: 0;
  }

  md-card-title {
    padding-top: 10px;
  }

  .root-node-title {
    padding: 2px;
    border-radius: 2px;
  }

  &.highlighted {
    .root-node-title {
      background-color: $node-highlight-color;
      animation: highlight-pulse 200ms 4;
    }
  }
}

@keyframes highlight-pulse {
  0% { background-color: rgba(255, 255, 255, 0); }
  100% { background-color: $node-highlight-color; }
}

.draft-node-pill {
  color: white;
  background-color: #777;
  font-size: .9em;
  padding: 2px 6px;
  border-radius: 4px;
}

.child-visibility {
  margin-top: 8px;
}

.radio-horizontal {
  margin-bottom: 6px;
}

.future-node {
  border: dashed #aaaaaa 3px;
  border-radius: 8px;
  padding: 10px;
}