// My wishlist

.md-icon-button.md-micro {
  padding: 0;
  margin: 0;
  height: 24px;
  width: 24px;
  min-height: 24px;
}

md-input-container.md-input-compact {
  margin-bottom: 0;

  .md-errors-spacer {
    min-height: 0;
  }
}

// Actual bugs

// https://github.com/angular/material/issues/7155
md-list-item.md-2-line,
md-list-item.md-3-line {

  .md-list-item-text {
    overflow:hidden;
  }
}
