.md-button.md-mini {
  margin: 3px 4px;
  line-height: 20px;
  min-height: 20px;
  min-width: 60px;
  font-size: 12px;
}

.md-icon-button.md-micro {
  padding: 0;
  margin: 0;
  height: 24px;
  width: 24px;
  min-height: 24px;
}