@import 'colors';


.node-autocomplete li {
  line-height: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 40px;

  .createNew {
    .autocomplete-new {
      font-weight: bold;
      margin-top: 12px;
    }
  }

  .autocomplete-title {
    margin-bottom: 5px;
  }

  .autocomplete-qualifier {
    color: #AAA;
    font-style: italic;
    font-size: .9em;
  }
}