@import 'colors';

.graph-sketch #viva-container {
  height: 300px;
}

#viva-container {
  height: 250px;
  position: relative;
}

#viva-container.fullscreen {
  height: 100%;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 0;
}

#viva-container svg {
  height: 100%;
  width: 100%;
}

.viva-fullscreen-btn {
  float: right;
  margin: -5px;
}

.voteArc {
  stroke-width: 5;
}

.greatArc {
  stroke: #c2e7b7;
}

.weakArc {
  stroke: #ffe601;
}

.toucheArc {
  stroke: #e0c6fa;
}

.trashArc {
  stroke: #ffa5ab;
}

.vivaDot {
  fill: #7b7b7b;

  &.highlight {
    fill: $node-highlight-color;
    stroke-width: 2;
    stroke: black;
    animation: highlight-pulse-fill 200ms 4;
  }

  &.edge-parent {
    fill: $md-accent-color;
    stroke-width: 3;
    stroke: black;
    animation: edge-parent-fill 800ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

@keyframes edge-parent-fill {
  0% { fill: rgba(255, 255, 255, 0); }
  100% { fill: $md-accent-color; }
}

@keyframes highlight-pulse-fill {
  0% { fill: rgba(255, 255, 255, 0); }
  100% { fill: $node-highlight-color; }
}

.arrow-tool-hint-box {
  position:absolute;
  left: 0;
  bottom: 10px;
  padding: 2px;
  font-weight: bold;
  border-radius: 3px;
  display: inline-block;
}

.arrowToolHint {
  animation: arrow-hint-pulse 800ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes arrow-hint-pulse {
  0% { background-color: $md-accent-color }
  100% { background-color: $node-highlight-color; }
}

.rootDot {
  fill: #383838;
}

$arrow-gray: #aeaeae;

.viva-node-description {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  color: $arrow-gray;
}

.vivaAnchor {
  transition-property: transform;
  transition-duration: .5s;
  transform: scale(.8, .8);
}

.viva-edge {
  stroke: $arrow-gray;
}

.viva-arrowhead {
  fill: $arrow-gray;
}
