@import 'colors';

#viva-container {
  height: 250px;
  position: relative;
}

#viva-container.fullscreen {
  height: 100%;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 0;
}

#viva-container svg {
  height: 100%;
  width: 100%;
}

.viva-fullscreen-btn {
  float: right;
  margin: -5px;
}

.voteArc {
  stroke-width: 5;
}

.greatArc {
  stroke: #c2e7b7;
}

.weakArc {
  stroke: #ffe601;
}

.toucheArc {
  stroke: #e0c6fa;
}

.trashArc {
  stroke: #ffa5ab;
}

.vivaDot {
  fill: #7b7b7b;

  .highlight {
    fill: $node-highlight-color;
  }
}

.rootDot {
  fill: #383838;
}

.viva-node-description {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  color: #adadad;
}

.vivaAnchor {
  transition-property: transform;
  transition-duration: .5s;
  transform: scale(.8, .8);
}