$chosen-great: #a1ef91;
$chosen-trash: #f7bbb8;
$chosen-weak: #f7f46d;
$chosen-touche: #c2b5f7;

.comment-up.chosen {
    color: #5DAB87;
}

.comment-down.chosen {
    color: #EC8F8F;
}


.vote-strip {

  .md-button {
    height: 20px;
    line-height: 20px;
    min-width: 40px;
    min-height: unset;
    text-align: left;
    margin: 0;
    border-radius: 0;
    border: none;
  }

  .vote-weak {
    background-color: #F7F2E0;
    &.chosen, &:hover {
      background-color: $chosen-weak;
    }
  }

  .vote-weak .vote-meter {
    background-color: #FFBC00;
  }

  .vote-great {
    background-color: #DEEFE2;
    &.chosen, &:hover {
      background-color: $chosen-great;
    }
  }

  .vote-great .vote-meter {
    background-color: green;
  }

  .vote-trash {
    background-color: #F7ECEE;
    &.chosen, &:hover {
      background-color: $chosen-trash;
    }
  }

  .vote-trash .vote-meter {
    background-color: red;
  }

  .vote-touche {
    background-color: #ECE6F7;
    &.chosen, &:hover {
      background-color: $chosen-touche;
    }
  }

  .vote-touche .vote-meter {
    background-color: purple;
  }

  .vote-meter {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
  }

}