<span class="comment-vote-cluster">
    <span class="vote-stack">
        <md-button ng-class="['md-icon-button', 'md-micro', 'comment-vote-btn', 'comment-up', {chosen: userVote > 0}]"
                   ng-click="voteClicked(1)" aria-label="upvote comment">
            <i class="fa fa-arrow-up"></i>
        </md-button>

        <md-button ng-class="['md-icon-button', 'md-micro', 'comment-vote-btn', 'comment-down', {chosen: userVote < 0}]"
                   ng-click="voteClicked(-1)" aria-label="downvote comment">
            <i class="fa fa-arrow-down"></i>
        </md-button>
    </span>
</span>