<div>

    <script type="text/ng-template" id="commentTree">
        <div class="panel-heading">

            <button class="btn icon-btn btn-xs" ng-click="toggleComment(comment); $event.stopPropagation();">
                <span ng-if="comment.hideComment">
                    <i class="fa fa-plus-circle"></i>
                </span>
                <span ng-if="!comment.hideComment">
                    <i class="fa fa-minus-circle"></i>
                </span>
            </button>

            <a ng-href="/#/user/{{comment.author.nodeId}}">{{comment.author.displayName}}</a>
            <span> - Score: {{comment.score}}</span>
        </div>
        <div ng-if="!comment.hideComment" class="panel-body">
            <div comment="comment" comment-vote-button></div>
            <span ng-markdown="comment.body" render-markdown></span>

            <div ng-if="!comment.writingReply">
                <a ng-click="beginWritingReply(comment)">Reply</a>
            </div>
            <div ng-if="comment.writingReply">
                <textarea node="comment" set-text="setReplyText" done-fn="saveReply" markdown-editor>{{newComment.body}}</textarea>
            </div>

            <div class="replies" ng-if="hasComment(comment) && !comment.hideComments">
                <div class="panel panel-default" ng-repeat="comment in comment.comments | orderBy: '-score'" ng-include="'commentTree'"></div>
            </div>
        </div>
    </script>

    <div class="commentSection">
        <button class="btn btn-sm new-comment-btn" ng-if="!editingTopLevel" ng-click="beginEditingTopLevel()">New comment</button>
        <h4 class="comments-header clearfix">Comments</h4>

        <div ng-if="!hasComment(node)">
            <span>No comments!</span>
        </div>
        <div class="editor-wrapper" ng-if="editingTopLevel">
            <textarea node="newComment" set-text="setComment" done-fn="saveComment" markdown-editor>{{newComment.body}}</textarea>
        </div>
        <div class="panel panel-default" ng-repeat="comment in node.comments | orderBy : '-score'" ng-include="'commentTree'"></div>
    </div>

</div>