<div>

    <script type="text/ng-template" id="commentTree">

        <div ng-init="comment.isStripe = !comment.parent.isStripe" ng-class="[{stripe: comment.isStripe}, 'panel', 'panel-default']">
            <div class="panel-body">

                <div ng-if="!comment.hideComment" comment="comment" comment-vote-button></div>

                <div class="comment-heading">
                    <button class="btn icon-btn btn-xs" ng-click="toggleComment(comment); $event.stopPropagation();">
                        <span ng-if="comment.hideComment">
                            <i class="fa fa-plus-circle"></i>
                        </span>
                        <span ng-if="!comment.hideComment">
                            <i class="fa fa-minus-circle"></i>
                        </span>
                    </button>

                    <a ng-href="/#/user/{{comment.author.nodeId}}">{{comment.author.displayName}}</a>
                    <span class="spaced-inline">Score: {{comment.score}}</span>
                    <span class="created-date spaced-inline">{{comment.dateCreated | date: 'short'}}</span>

                </div>
                <div ng-if="!comment.hideComment">

                    <div ng-if="!comment.editing">
                        <span ng-markdown="comment.body" render-markdown></span>
                        <p>
                            <span ng-if="!comment.writingReply">
                                <a ng-if="allowedToEdit(comment)" ng-click="comment.editing = true">Edit</a>
                                <a class="spaced-inline" ng-click="beginWritingReply(comment)">Reply</a>
                            </span>
                            <span class="edited-date spaced-inline" ng-if="comment.dateEdited">Edited {{comment.dateEdited | date: 'short'}}</span>
                        </p>

                    </div>
                    <div ng-if="comment.editing">
                        <textarea node="comment" set-text="setEditText" done-fn="saveEdit" markdown-editor>{{comment.body}}</textarea>
                    </div>


                    <div ng-if="comment.writingReply">
                        <textarea node="comment" set-text="setReplyText" done-fn="saveReply" markdown-editor>{{newComment.body}}</textarea>
                    </div>

                    <div class="replies" ng-if="hasComment(comment) && !comment.hideComments">
                        <div class="comment-block" ng-repeat="comment in comment.comments | orderBy: commentSort: true" ng-include="'commentTree'"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <div class="commentSection">

        <div ng-if="!editingTopLevel" class="top-right-fabs">
            <div layout="column" layout-align="center center">
                <md-button ng-click="beginEditingTopLevel()" aria-label="New comment" class="md-primary md-fab md-raised">
                    New
                </md-button>

                <md-menu>
                    <md-button ng-click="$mdOpenMenu($event)" aria-label="Filter" class="md-fab md-mini md-raised">
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="commentSort = 'score'">
                                Sort by score
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="commentSort = 'dateCreated'">
                                Sort by date
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div ng-if="!hasComment(node)">
            <span>No comments!</span>
        </div>

        <div class="editor-wrapper" ng-if="editingTopLevel">
            <textarea node="newComment" set-text="setComment" done-fn="saveComment" markdown-editor>{{newComment.body}}</textarea>
            <div layout="row" layout-align="end">
                <md-button ng-click="saveComment(newComment)" class="md-raised md-primary">
                    Save
                </md-button>
            </div>
        </div>

        <div class="comment-block" ng-repeat="comment in node.comments | orderBy : commentSort : true" ng-include="'commentTree'"></div>
    </div>

</div>