<div>

    <script type="text/ng-template" id="commentTree">
        <div class="panel-heading">

            <button class="btn icon-btn btn-xs" ng-click="toggleComment(comment); $event.stopPropagation();">
                <span ng-if="comment.hideComment">
                    <i class="fa fa-plus-circle"></i>
                </span>
                <span ng-if="!comment.hideComment">
                    <i class="fa fa-minus-circle"></i>
                </span>
            </button>

            <a ng-href="/#/user/{{comment.author.nodeId}}">{{comment.author.displayName}}</a>
            <span> - Score: {{comment.score}}</span>
            <span class="created-date">{{comment.dateCreated | date: 'short'}}</span>

        </div>
        <div ng-if="!comment.hideComment" class="panel-body">
            <div comment="comment" comment-vote-button></div>

            <div ng-if="!comment.editing && !comment.writingReply">
                <span ng-markdown="comment.body" render-markdown></span>
                <p class="edited-date" ng-if="comment.dateEdited">Edited {{comment.dateEdited | date: 'short'}}</p>
                <div ng-if="allowedToEdit(comment)">
                    <button class="btn btn-sm btn-default" ng-click="comment.editing = true">Edit</button>
                    <button class="btn btn-sm btn-default" ng-click="beginWritingReply(comment)">Reply</button>
                </div>
            </div>
            <div ng-if="comment.editing">
                <textarea node="comment" set-text="setEditText" done-fn="saveEdit" markdown-editor>{{comment.body}}</textarea>
            </div>


            <div ng-if="comment.writingReply">
                <textarea node="comment" set-text="setReplyText" done-fn="saveReply" markdown-editor>{{newComment.body}}</textarea>
            </div>

            <div class="replies" ng-if="hasComment(comment) && !comment.hideComments">
                <div class="panel panel-default" ng-repeat="comment in comment.comments | orderBy: commentSort: true" ng-include="'commentTree'"></div>
            </div>
        </div>
    </script>

    <div class="commentSection">
        <p>
            <button class="btn btn-sm new-comment-btn" ng-if="!editingTopLevel" ng-click="beginEditingTopLevel()">New comment</button>
            <h4 class="comments-header clearfix">Comments</h4>
            <select ng-show="hasComment(node)" ng-init="commentSort = 'score'" ng-model="commentSort" class="comment-sorter form-control input-sm">
                <option value="score">By score</option>
                <option value="dateCreated">By recent</option>
            </select>
        </p>

        <div ng-if="!hasComment(node)">
            <span>No comments!</span>
        </div>
        <div class="editor-wrapper" ng-if="editingTopLevel">
            <textarea node="newComment" set-text="setComment" done-fn="saveComment" markdown-editor>{{newComment.body}}</textarea>
        </div>
        <div class="panel panel-default" ng-repeat="comment in node.comments | orderBy : commentSort : true" ng-include="'commentTree'"></div>
    </div>

</div>