<div ng-if="!user">
    <div class="alert alert-warning" role="alert">Must <a href="/signin">log in</a> before creating content!</div>
</div>

<h2 class="card-margin">
    Create New Node
</h2>

<div layout="column" layout-gt-sm="row">
    <div flex="60">
        <md-card>
            <md-card-content>
                <md-radio-group ng-model="createCtrl.type" layout="column" layout-gt-xs="row">
                    <div flex="33" class="radio-horizontal" ng-repeat="opt in createCtrl.createOptions">
                        <md-radio-button ng-value="opt.value">
                            {{opt.label}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </md-card-content>
        </md-card>
    </div>
    <div flex="40"></div>
</div>


<div ng-if="user">
    <div node-graph draft-type="createCtrl.type"></div>
</div>


