<h2 class="card-margin">
    Create New Card
</h2>

<div layout="column" layout-gt-sm="row">
    <div flex="60">
        <md-card>
            <md-card-content>
                <div ng-if="!user">
                    You need to
                    <md-button ng-click="showLogin()" class="md-raised md-primary" aria-label="Sign In">
                        Sign in
                    </md-button>
                    before creating content!
                </div>
                <md-radio-group ng-if="user" ng-model="createCtrl.type" layout="column" layout-gt-xs="row">
                    <div flex="33" class="radio-horizontal" ng-repeat="opt in createCtrl.createOptions">
                        <md-radio-button ng-value="opt.value">
                            {{opt.label}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </md-card-content>
        </md-card>
    </div>
    <div flex="40"></div>
</div>


<div ng-if="user">
    <div node-graph draft-type="createCtrl.type"></div>
</div>
