
<md-card>
    <md-card-content style="position:relative;">

        <div style="position: relative; z-index: 1">
            <img class="finer-points-logo" src="/img/finer-points-logo.png" />

            <div class="header-hero-block">
                <span class="hero-emphasis">Better opinions through evidence, transparency, and collaboration.</span>
                <ul class="hero-bullets">
                    <li><span class="hero-emphasis">Vote</span> and comment on the building blocks of opinions.</li>
                    <li><span class="hero-emphasis">X-Ray</span> everything to find weaknesses.</li>
                    <li><span class="hero-emphasis">Build</span> on the work of others.</li>
                </ul>
            </div>
        </div>

        <div particles style="position:absolute; top:0; left:0; bottom:0; right:0;"></div>
    </md-card-content>
</md-card>

<div layout="row" layout-sm="column" layout-xs="column">

    <div flex="50">
        <md-card>
            <md-card-title>
                <span class="md-headline">Do you agree with these?</span>
            </md-card-title>
            <md-card-content>
                <div node-list list="nodes"></div>
            </md-card-content>
        </md-card>
    </div>
    <div flex="50">
        <md-card>
            <md-card-title>
                <span class="md-headline">How it works</span>
            </md-card-title>

            <md-card-content>
                <div layout="row" layout-sm="column" layout-xs="column">
                    <div flex="60">
                        <ul class="hero-bullets">
                            <li>Opinions are composed of reusable parts.</li>
                            <li>All opinions are supported by evidence.</li>
                            <li>Evidence is presented via an interpretation.</li>
                            <li>Everything is editable by the community.</li>
                        </ul>
                    </div>
                    <div flex="40">
                        <img src="/img/finer-points-diagram.svg"
                             alt="Diagram showing relationships between card types."
                             width="100%"
                             style="max-width: 300px;" />
                    </div>
                </div>
            </md-card-content>

        </md-card>
        <md-card>
            <md-card-title>
                <span class="md-headline">Get started</span>
            </md-card-title>

            <md-card-content>
                <p ng-if="!user">
                    <md-button ng-click="showLogin()" class="md-raised md-primary" aria-label="Sign In">
                        Sign in
                    </md-button>
                    So you can vote, comment, and publish!
                </p>
                <p ng-if="user">
                    <md-button ng-href="/create" class="md-raised md-primary" aria-label="Create new tree">
                        Create a new tree
                    </md-button>
                    <!--<md-button ng-href="/sketch" class="md-raised" aria-label="Sketch">-->
                        <!--Sketch-->
                    <!--</md-button>-->
                </p>
            </md-card-content>

        </md-card>
    </div>
</div>

