
<md-card>
    <md-card-content style="position:relative;">

        <div style="position: relative; z-index: 1">
            <img class="finer-points-logo" src="/img/finer-points-logo.png" />

            <div style="display:inline-block;">
                <ul class="hero-bullets">
                    <li><span class="hero-emphasis">Explore</span> opinions in detail.</li>
                    <li><span class="hero-emphasis">Discuss</span> the crucial points.</li>
                    <li><span class="hero-emphasis">Build</span> on the work of others.</li>
                </ul>
            </div>
        </div>

        <div particles style="position:absolute; top:0; left:0; bottom:0; right:0;"></div>
    </md-card-content>
</md-card>

<div layout="column" layout-gt-sm="row">

    <div flex="50">
        <md-card>
            <md-card-title>
                <span class="md-headline">Featured trees</span>
            </md-card-title>
            <md-card-content>
                <div node-list list="nodes"></div>
            </md-card-content>
        </md-card>
    </div>
    <div flex="50">
        <md-card>
            <md-card-title>
                <span class="md-headline">Get started</span>
            </md-card-title>

            <md-card-content>
                <p ng-if="!user">
                    <a href="#/login">Sign in</a> with Google.
                </p>
                <p>
                    <a href="#/create">Create</a> a new tree.
                </p>
            </md-card-content>

        </md-card>
    </div>
</div>

