<div>

    <script type="text/ng-template" id="floatTree">
        <md-card
                ng-class="[{selected:graphCtrl.isSelected(node), highlighted: node === graphCtrl.highlightedNode }, 'nodeDiv']"
                ng-click="graphCtrl.highlightNode(node)">

            <div ng-if="!node.inEditMode">

                <div layout="row" layout-align="center">
                    <div flex="">
                        <span class="child-node-title">
                            <span node-type="node.type" show-tooltip="true"></span>
                            <a ng-href="/graph/{{node.stableId}}">{{node.body.title}}</a>
                        </span>
                        <div ng-if="!graphCtrl.isSelected(node)">
                            <span ng-if="!node.body.public" class="draft-node-pill">
                                Private draft
                            </span>
                        </div>
                    </div>

                    <span ng-if="!graphCtrl.isSelected(node)">
                        <md-button ng-click="graphCtrl.toggleSelect(node)" class="md-icon-button">
                            <i class="fa fa-angle-double-down"></i>
                        </md-button>
                    </span>
                </div>

                <!--Collapsible portion-->
                <div ng-if="graphCtrl.isSelected(node)">

                    <!--Subheader-->
                    <span>
                        {{node.body.qualifier}}, by
                        <a ng-href="/profile/{{node.body.majorVersion.author.stableId}}">{{node.body.majorVersion.author.displayName}}</a>
                        <span ng-if="node.body.majorVersion.author.stableId !== node.body.author.stableId">
                            edited by
                            <a ng-href="/profile/{{node.body.author.stableId}}">{{node.body.author.displayName}}</a>
                        </span>
                        <span ng-if="!node.body.public" class="draft-node-pill">
                            Private draft
                        </span>
                    </span>


                    <div ng-if="graphCtrl.getRenderType(node) === 'markdown'" class="child-body"
                         ng-markdown="node.body.body" render-markdown></div>
                    <div ng-if="graphCtrl.getRenderType(node) === 'url'" class="child-body">
                        <a ng-href="{{node.body.url}}" target="_blank">{{node.body.url}}</a>
                    </div>

                    <div layout="row" layout-align="end center">
                        <md-button ng-if="graphCtrl.authorizedForEdit(node, parent) && !node.inEditMode && !node.body.public" ng-click="graphCtrl.enterEditMode(node)">Edit</md-button>
                        <md-button ng-if="graphCtrl.readyToPublish(node)" ng-click="graphCtrl.publishNode(node)" class="md-raised md-primary">Publish</md-button>
                    </div>
                </div>
            </div>

            <div ng-if="node.inEditMode">
                <div node-editor node="node"></div>
            </div>

        </md-card>

        <div ng-if="graphCtrl.hasChild(node)" layout="row" layout-align="start start">
            <span class="child-visibility">
                <span ng-if="!node.showChildren" ng-click="graphCtrl.toggleChildren(node)">
                    <md-button class="md-icon-button md-micro">
                        <i class="fa fa-plus-square-o"></i>
                    </md-button>
                    <span>Show supporting cards</span>
                </span>
                <span ng-if="node.showChildren">
                    <md-button class="md-icon-button md-micro" ng-click="graphCtrl.toggleChildren(node)">
                        <i class="fa fa-minus-square-o"></i>
                    </md-button>
                </span>
            </span>

            <div flex="" class="childrenDiv" ng-if="graphCtrl.hasChild(node) && node.showChildren">
                <!--http://stackoverflow.com/questions/23247707/how-to-access-parent-object-in-recursive-template-->
                <div ng-repeat="node in node.children" class="childDiv" ng-include="'floatTree'" ng-init="parent = $parent.$parent.node"></div>
            </div>

        </div>

    </script>

    <div class="graph-wrapper">

        <div layout="column" layout-gt-sm="row">
            <div flex="60" ng-show="graphCtrl.rootNode">
                <md-card ng-if="graphCtrl.rootNode && !graphCtrl.rootNode.inEditMode" class="root-node-card"
                         ng-class="[{highlighted: graphCtrl.rootNode === graphCtrl.highlightedNode }, 'root-node-card']">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-title">
                                <span node-type="graphCtrl.rootNode.type" show-tooltip="true"></span>
                                <span class="root-node-title">{{graphCtrl.rootNode.body.title}}</span>
                            </span>
                            <span class="md-subhead">
                                {{graphCtrl.rootNode.body.qualifier}}, by
                                <a ng-href="/profile/{{graphCtrl.rootNode.body.majorVersion.author.stableId}}">
                                    {{graphCtrl.rootNode.body.majorVersion.author.displayName}}</a>
                                <span ng-if="graphCtrl.rootNode.body.majorVersion.author.stableId !== graphCtrl.rootNode.body.author.stableId">
                                    edited by
                                    <a ng-href="/profile/{{graphCtrl.rootNode.body.author.stableId}}">{{graphCtrl.rootNode.body.author.displayName}}</a>
                                </span>
                                <span ng-if="!graphCtrl.rootNode.body.public" class="draft-node-pill">
                                    Private draft
                                </span>
                                <md-button ng-if="!graphCtrl.rootNode.body.public" class="md-icon-button md-micro" ng-click="graphCtrl.discardDraft()">
                                    <i class="fa fa-trash"></i>
                                    <md-tooltip md-direction="right">
                                        Discard draft
                                    </md-tooltip>
                                </md-button>
                                <br>
                                <a ng-href="/history/{{graphCtrl.rootNode.stableId}}">View History</a>
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div ng-if="graphCtrl.getRenderType(graphCtrl.rootNode) === 'markdown'"
                             ng-markdown="graphCtrl.rootNode.body.body" render-markdown></div>
                        <a ng-if="graphCtrl.getRenderType(graphCtrl.rootNode) === 'url'"
                           ng-href="{{graphCtrl.rootNode.body.url}}" target="_blank">{{graphCtrl.rootNode.body.url}}</a>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="start center">
                        <span node-consumers node="graphCtrl.rootNode"></span>
                        <span flex=""></span>
                        <md-button
                                ng-if="graphCtrl.authorizedForEdit(graphCtrl.rootNode) && !graphCtrl.rootNode.inEditMode"
                                ng-click="graphCtrl.enterEditMode(graphCtrl.rootNode)"
                                class="md-raised">Edit</md-button>
                        <md-button
                                ng-if="graphCtrl.readyToPublish(graphCtrl.rootNode)"
                                ng-click="graphCtrl.publishNode(graphCtrl.rootNode)"
                                class="md-raised md-primary">Publish</md-button>
                    </md-card-actions>
                    <div ng-if="graphCtrl.rootNode.body.public && graphCtrl.rootNode.type !== 'subject'" node="graphCtrl.rootNode" vote-button></div>
                </md-card>
                <md-card ng-if="graphCtrl.rootNode.inEditMode">
                    <md-card-content>
                        <div node-editor node="graphCtrl.rootNode"></div>
                    </md-card-content>
                </md-card>

                <!--<md-card ng-show="graphCtrl.rootNode.body.public" class="comment-section-card">-->
                <md-card class="comment-section-card" ng-if="graphCtrl.rootStableId">
                    <div node="graphCtrl.rootNode" node-stable-id="graphCtrl.rootStableId" node-comments></div>
                </md-card>

                <div class="card-margin" ng-if="!graphCtrl.rootNode.body.public && graphCtrl.problemReport.messages.length">
                    <h4><i class="fa fa-exclamation-triangle" style="color:#da0000"></i> Before you can publish:</h4>
                    <ul>
                        <li ng-repeat="problem in graphCtrl.problemReport.messages">
                            {{problem.message}}
                            <span class="node-link" ng-click="graphCtrl.highlightNode(problem.node)">Highlight</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div flex="40">
                <div ng-if="graphCtrl.isPersisted(graphCtrl.rootNode)">
                    <div root-node="graphCtrl.rootNode" viva-graph></div>
                    <div class="child-nodes">
                        <div ng-repeat="node in graphCtrl.rootNode.children" ng-include="'floatTree'"
                             ng-init="parent = graphCtrl.rootNode"></div>
                    </div>
                </div>

                <div ng-if="!graphCtrl.rootNode.children.length" class="child-nodes">
                    <div class="card-margin" ng-if="graphCtrl.rootNode.type === 'assertion'">
                        <div class="future-node">
                            <div class="md-headline">Interpretation Card Needed Here</div>
                            <p>
                                To meet the minimum requirements for a tree, use the "Attach Card" button to attach a new or existing interpretation card.
                            </p>
                        </div>
                        <div class="future-node" style="margin-left: 20px; margin-top: 20px">
                            <div class="md-headline">Card Needed Here</div>
                            <p>Interpretation cards always have a source or subject.</p>
                        </div>
                    </div>

                    <div class="card-margin" ng-if="graphCtrl.rootNode.type === 'interpretation'">
                        <div class="future-node">
                            <div class="md-headline">Card Needed Here</div>
                            <p>
                                Use the "Attach Card" button to link a new or existing source or subject card.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>