<div>

    <script type="text/ng-template" id="commentTree">
        <div class="commentDiv">
            <span ng-if="hasComment(comment)">

                <button class="btn" ng-click="toggleComments(comment); $event.stopPropagation();">
                    <span ng-if="comment.hideComments">
                        <i class="fa fa-plus-circle"></i>
                    </span>
                    <span ng-if="!comment.hideComments">
                        <i class="fa fa-minus-circle"></i>
                    </span>
                </button>
            </span>
            <span>{{comment.body}}</span>

        </div>
        <div class="subCommentsContainer" ng-if="hasComment(comment) && !comment.hideComments">
            <div ng-repeat="comment in comment.comments" ng-include="'commentTree'"></div>
        </div>
    </script>

    <script type="text/ng-template" id="floatTree">
        <div class="familyWrapper">
            <div ng-click="toggleSelect(node); $event.stopPropagation();"
                 ng-class="[{selected:isSelected(node)}, 'nodeDiv', 'panel', 'panel-default'].concat(node.labels)">

                <div class="panel-heading" ng-class="{leftPaddingWithChild: hasChild(node)}">
                    <div class="toggleChildren" ng-if="hasChild(node)">

                        <button class="btn" ng-click="toggleChildren(node); $event.stopPropagation();">
                            <span ng-if="node.hideChildren">
                                <i class="fa fa-plus-circle"></i>
                            </span>
                            <span ng-if="!node.hideChildren">
                                <i class="fa fa-minus-circle"></i>
                            </span>
                        </button>
                    </div>
                    <span class="nodeTitle">{{node.title}}</span>
                </div>

                <div class="nodeContent panel-body" ng-hide="!isSelected(node)">
                    <div ng-if="isSelected(node)">
                        <p class="byLine">by {{node.author.displayName}}</p>
                        <a href="#/d/{{node.id}}">Detail</a>
                        <button ng-click="addChild(node); $event.stopPropagation();">Add child</button>
                        <p>{{node.body}}</p>
                        <div class="commentSection" ng-if="hasComment(node)">
                            <span style="font-weight:bold">Comments</span>
                            <div ng-repeat="comment in node.comments" ng-include="'commentTree'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="childrenDiv" ng-if="hasChild(node) && !node.hideChildren">
                <div ng-repeat="node in node.children" ng-include="'floatTree'"></div>
            </div>
        </div>
    </script>

    <div class="graph-wrapper">
        <div ng-repeat="node in rootNodes" ng-include="'floatTree'"></div>
    </div>

    <p>
        <a href="#/graphDiagnostic/{{rootNodes[0].id}}">Debug info</a>
    </p>


</div>