<md-dialog flex="90" flex-gt-sm="50" flex-gt-md="30">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Link a child node</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div ng-if="!makeNew">
                <md-autocomplete
                        md-selected-item="ctrl.selectedItem"
                        md-search-text="$parent.searchQuery"
                        md-selected-item-change="searchResultSelected(item)"
                        md-items="item in getSearchResults(searchQuery)"
                        md-item-text="item.title"
                        md-min-length="3"
                        placeholder="Search here">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.title}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches.
                        <md-button class="md-raised" ng-click="toggleMakeNew()">Create New</md-button>

                    </md-not-found>
                </md-autocomplete>
            </div>
            <div ng-show="makeNew">
                <p>Create new</p>
                <!--Radio buttons-->
                <md-radio-group ng-model="newNodeType">
                    <md-radio-button value="assertion" ng-show="canLinkTo('assertion')">Assertion</md-radio-button>
                    <md-radio-button value="interpretation" ng-show="canLinkTo('interpretation')">Interpretation</md-radio-button>
                    <md-radio-button value="source" ng-show="canLinkTo('source')">Source</md-radio-button>
                </md-radio-group>

                <md-input-container class="md-input-compact">
                    <label>Title</label>
                    <input ng-model="searchQuery">
                </md-input-container>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary"  ng-show="makeNew" ng-disabled="!newNodeType || !searchQuery" ng-click="createNewNode()">Create</md-button>
        <md-button class="md-raised md-primary" ng-show="isResultSelected" ng-click="select()">Link Node</md-button>
        <md-button ng-click="cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>