<div class="modal-header">
    <h3 class="modal-title">Link a child node</h3>
</div>
<div class="modal-body">

    <div ng-show="!isResultSelected">
        <p>Search or enter new title</p>
        <div class="well">
            <input type="text" ng-model="searchQuery" placeholder="Search existing nodes"
                   typeahead="body.title for body in getSearchResults($viewValue)" typeahead-on-select="searchResultSelected($item, $model, $label)"
                   typeahead-min-length="3" typeahead-wait-ms="200" typeahead-editable="true"
                   class="form-control" auto-focus>
        </div>

        <p>
            <span>Can't find anything?</span>
            <button class="btn btn-primary" ng-show="canCreateAssertion()" ng-click="createAssertion()">Create assertion with this title</button>
            <button class="btn btn-primary" ng-show="canCreateInterpretation()" ng-click="createInterpretation()">Create interpretation with this title</button>
            <button class="btn btn-primary" ng-show="canCreateSource()" ng-click="createSource()">Create source with this title</button>
        </p>
    </div>
    <div ng-show="isResultSelected">
        <h3 class="node-link">{{chosenNode.body.title}}</h3>
        <button class="btn" ng-click="clearSelection()">Clear</button>
        <button class="btn btn-primary" ng-click="select()">Select</button>
    </div>

    <!--<p>OR</p>-->
    <!--<div class="well">-->
        <!--<p>Create a new node</p>-->
        <!--<input id="titleInput" type="text" placeholder="Title for new node" class="form-control" ng-model="newTitle" />-->
        <!--<button class="btn" ng-click="createNew()">Create</button>-->
    <!--</div>-->


</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
