<md-list>
    <md-list-item class="md-3-line node-list-item" ng-repeat="node in listCtrl.list">
        <div class="md-list-item-text" layout="column">
            <div class="node-list-title">
                <a href="#/graph/{{node.stableId}}">{{node.body.title}}</a>
                <span ng-if="!node.body.public">
                    (draft)
                </span>
            </div>
            <div>
                <span class="node-qualifier">{{node.body.qualifier}}</span>
            </div>
            <div class="node-list-author">
                <span>{{ node.body.majorVersion.author.displayName }},</span>
                <span ng-if="node.body.majorVersion.author.stableId !== node.body.author.stableId">edited by {{node.body.author.displayName}},</span>
                <span>{{node.body.dateCreated | date: 'short'}}</span>
            </div>
        </div>
    </md-list-item>
</md-list>