<div class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in nodes">
                <td>{{node.stableId}}</td>
                <td><a href="#/graph/{{node.stableId}}">{{node.body.title}}</a></td>
                <td>{{node.body.author.displayName}}</td>
            </tr>
        </tbody>
    </table>
</div>
<a href="#/create">Create New</a>