<div>
    <md-input-container class="md-block">
        <label>Title</label>
        <input ng-model="nodeEditCtrl.node.body.title">
    </md-input-container>

    <md-input-container class="md-block">
        <label>Version Description</label>
        <input ng-model="nodeEditCtrl.node.body.qualifier">
    </md-input-container>

    <textarea ng-if="nodeEditCtrl.getRenderType(node) == 'markdown'" node="nodeEditCtrl.node"
              set-text="nodeEditCtrl.setBody" link-fn="nodeEditCtrl.linkChild"
              markdown-editor>{{nodeEditCtrl.node.body.body}}</textarea>

    <md-input-container class="md-block" ng-if="nodeEditCtrl.getRenderType(node) == 'url'">
        <label>Link</label>
        <input type="text" class="form-control" placeholder="http://..." ng-model="nodeEditCtrl.node.body.url" />
    </md-input-container>

    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-if="nodeEditCtrl.node.stableId" ng-click="nodeEditCtrl.cancel()" class="md-raised">Cancel</md-button>
        <md-button ng-click="nodeEditCtrl.saveNode()" class="md-raised md-primary">Save draft</md-button>
    </md-card-actions>
</div>