<p>Displaying all nodes.</p>
<div class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in nodes">
                <td><a href="#/graph/{{node.id}}">{{node.id}}</a></td>
                <td>{{node.title}}</td>
                <td>{{node.author}}</td>
            </tr>
        </tbody>
    </table>
</div>