<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Please sign in</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>Please sign in with a social account. No password required!</p>

        <div>
            <form action="signin/google" method="POST">
                <md-button type="submit" class="md-primary md-raised">Sign in with Google</md-button>
                <input type="hidden" name="scope" value="profile" />
            </form>
        </div>

    </md-card-content>
</md-card>