
<h2 class="card-margin">
    {{profileCtrl.subject.displayName}}
</h2>

<div layout="column" layout-gt-sm="row">

    <div ng-if="profileCtrl.subject.stableId === user.activeAlias.stableId" ng-show="profileCtrl.draftNodes.length">
        <md-card>
            <md-card-title>
                <span class="md-headline">Drafts</span>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item class="md-3-line node-list-item" ng-repeat="node in profileCtrl.draftNodes">
                        <div class="md-list-item-text" layout="column">
                            <div class="node-list-title">
                                <a ng-href="/graph/{{node.stableId}}">{{node.body.title}}</a>
                            </div>
                            <div>
                                <span class="node-qualifier">{{node.body.qualifier}}</span>
                            </div>
                            <div class="node-list-author">
                                <span>{{ node.body.majorVersion.author.displayName }},</span>
                                <span ng-if="node.body.majorVersion.author.stableId !== node.body.author.stableId">edited by {{node.body.author.displayName}},</span>
                                <span>{{node.body.dateCreated | date: 'short'}}</span>
                                <md-button class="md-icon-button md-micro" ng-click="profileCtrl.discardDraft(node)">
                                    <i class="fa fa-trash"></i>
                                    <md-tooltip md-direction="right">
                                        Discard draft
                                    </md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>

    <div ng-show="profileCtrl.publishedNodes.length">
        <md-card>
            <md-card-title>
                <span class="md-headline">Published Cards</span>
            </md-card-title>
            <md-card-content>
                <div node-list list="profileCtrl.publishedNodes"></div>
                <p ng-show="profileCtrl.publishedNodes.length === 0">
                    No published cards.
                </p>
            </md-card-content>
        </md-card>
    </div>
</div>

