
<h2 class="card-margin">
    {{profileCtrl.subject.displayName}}
</h2>

<div layout="column" layout-gt-sm="row">

    <div ng-if="profileCtrl.subject.stableId === user.stableId" ng-show="profileCtrl.draftNodes.length">
        <md-card>
            <md-card-title>
                <span class="md-headline">Drafts</span>
            </md-card-title>
            <md-card-content>
                <div node-list list="profileCtrl.draftNodes"></div>
            </md-card-content>
        </md-card>
    </div>

    <div ng-show="profileCtrl.publishedNodes.length">
        <md-card>
            <md-card-title>
                <span class="md-headline">Published Cards</span>
            </md-card-title>
            <md-card-content>
                <div node-list list="profileCtrl.publishedNodes"></div>
                <p ng-show="profileCtrl.publishedNodes.length === 0">
                    No published cards.
                </p>
            </md-card-content>
        </md-card>
    </div>
</div>

