@media (min-width: 550px) {



}


.childrenDiv {
    margin-left: 15px;
    position: relative;
}

.nodeDiv {
    margin-bottom: 0px;
    margin-top: 5px;
}

.childrenDiv:before {
    content: "";
    position: absolute;
    top: -10px;
    bottom: 1px;
    left: -10px;
    width: 4px;
    z-index: -1;

    background-color: rgb(217, 217, 217);

}

/*.nodeContent {*/
    /*display: inline-block;*/
/*}*/

.leftPaddingWithChild {
    padding-left: 0px;
}


.toggleChildren {
    display: inline-block;
    color: rgb(149, 176, 164);
}

.nodeDiv .icon-btn {
    padding: 3px;
    background: none;
}

.subCommentsContainer {
    margin-left: 15px;
}

.commentDiv {

    border-left: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    padding: 3px;
}

.selected .nodeTitle {
    font-weight: bold;
}

.rootTitle {
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.byLine {
    margin-left: 20px;
}

.node-link {
    background-color: #eaf6ff;
    border-radius: 3px;
    padding: 3px;
    border: solid 1px #d7d7d7;
}

.node-heading, .nodeContent {
    position: relative;
}

.node-id {
    display: none;
}

.bottom-right-button {
    position: absolute;
    bottom: 3px;
    right: 5px;
    color: #b0b0b0;
    cursor: pointer;
}

