.vote-cluster {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.vote-cluster .btn {
    width: 50px;
    display: block;
    position:relative;
    text-align: left;
    margin-bottom: 2px;
    background-color: #fcfcfc;
}

.vote-weak .vote-meter {
    border-bottom: 2px solid #ffdb00;
    background-color: #fdff80;
}

.vote-great .vote-meter {
    border-bottom: 2px solid green;
    background-color: #defadd;
}

.vote-trash .vote-meter {
    border-bottom: 2px solid red;
    background-color: #ffe4e1;
}

.vote-touche .vote-meter {
    border-bottom: 2px solid purple;
    background-color: #e9dcf7;
}

.vote-meter {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
    z-index: 1;
    border-radius: 3px;
}

.vote-num {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
}