.vote-cluster {
    border-radius: 100%;
    border: solid 1px gray;
    display: inline-block;
}

.vote-button {
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 3px 5px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
}

.vote-button.vote-weak {
    background-color: #fff4ba;
    border-top-left-radius: 100%;
    text-align: right;
}

.vote-button.vote-weak:hover {
    background-color: yellow;
}

.vote-button.vote-great {
    background-color: #defadd;
    border-top-right-radius: 100%;
}

.vote-button.vote-great:hover {
    background-color: lawngreen;
}

.vote-button.vote-trash {
    background-color: #ffe4e1;
    border-bottom-left-radius: 100%;
    text-align: right;
}

.vote-button.vote-trash:hover {
    background-color: red;
}

.vote-button.vote-touche {
    background-color: #e9dcf7;
    border-bottom-right-radius: 100%;
}

.vote-button.vote-touche:hover {
    background-color: purple;
}

.vote-top-row {
    height: 40px;
}

.vote-top-row .vote-num {
    position: absolute;
    bottom: 3px;
}

.vote-weak .vote-num {
    right: 5px;
}