body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #edf1f2;
    color: #333;
}

h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: rgb(73, 73, 73);
}

a {
    color: rgb(5, 181, 214);
    text-decoration: none;
}

a:visited {
    color: rgb(89, 49, 230);
}

a:hover {
    text-decoration: underline;
}

.hero-emphasis {
    font-weight: bold;
    font-size: 120%;
    font-style: italic;
    color: #149359;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.panel-heading h3 {
    margin: 0;
}