<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="main" class="footer">
    <h4 style="text-align:center">About the site</h4>
    <div class="footer-chunk">

        <p>Built by Tyler Arehart</p>
        <p>Learn more and report bugs on <a href="https://github.com/tarehart/finer-points">GitHub</a></p>
    </div>
    <div class="footer-chunk">

        <p>Front end</p>

        <ul>
            <li><a href="https://angularjs.org/">AngularJS</a></li>
            <li><a href="https://material.angularjs.org/latest/">Angular Material</a></li>
            <li><a href="https://github.com/anvaka/VivaGraphJS">VivaGraphJS</a></li>
            <li><a href="https://github.com/VincentGarreau/particles.js/">particles.js</a></li>
            <li><a href="https://github.com/toopay/bootstrap-markdown">Bootstrap Markdown</a></li>
            <li><a href="https://github.com/showdownjs/showdown">Showdown</a></li>
        </ul>
    </div>
    <div class="footer-chunk">

        <p>Back end</p>

        <ul>
            <li><a href="https://neo4j.com/">Neo4j</a></li>
            <li><a href="http://projects.spring.io/spring-data-neo4j/">Spring Data Neo4j</a></li>
            <li><a href="http://projects.spring.io/spring-boot/">Spring Boot</a></li>
            <li><a href="https://github.com/GabiAxel/spring-social-google">Spring Social Google</a></li>
            <li><a href="https://aws.amazon.com/elasticbeanstalk/">AWS Elastic Beanstalk</a></li>
        </ul>
    </div>
</div>

</html>