<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="nodeStandApp">
<head>
    <title>Roots Apparent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="favicon.ico"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap-markdown.min.css}" href="../../css/lib/bootstrap-markdown.min.css"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../../css/common.css"/>
    <link rel="stylesheet" th:href="@{/css/graph.css}" href="../../css/graph.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-fix.css}" href="../../css/bootstrap-fix.css"/>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/js/lib/angular.min.js}" src="../static/js/lib/angular.min.js" type="text/javascript"></script>
    <script th:src="@{/js/lib/angular-route.min.js}" src="../static/js/lib/angular-route.min.js" type="text/javascript"></script>
    <script th:src="@{/js/lib/angular-sanitize.js}" src="../static/js/lib/angular-sanitize.js" type="text/javascript"></script>
    <script th:src="@{/js/lib/ui-bootstrap-tpls-0.13.0.js}" src="../static/js/lib/ui-bootstrap-tpls-0.13.0.js" type="text/javascript"></script>
    <script th:src="@{/js/lib/showdown.js}" src="../static/js/lib/showdown.js" type="text/javascript"></script>
    <script th:src="@{/js/showdown-node-stand.js}" src="../static/js/showdown-node-stand.js" type="text/javascript"></script>
    <script th:src="@{/js/lib/bootstrap-markdown.js}" src="../static/js/lib/bootstrap-markdown.js" type="text/javascript"></script>
    <script th:src="@{/js/directives/markdown-directive.js}" src="../static/js/directives/markdown-directive.js" type="text/javascript"></script>
    <script th:src="@{/js/app.js}" src="../static/js/app.js" type="text/javascript"></script>
    <script th:src="@{/js/controllers/controllers.js}" src="../static/js/controllers/controllers.js" type="text/javascript"></script>
    <script th:src="@{/js/directives/graph-directive.js}" src="../static/js/directives/graph-directive.js" type="text/javascript"></script>
    <script th:src="@{/js/directives/input-directives.js}" src="../static/js/directives/input-directives.js" type="text/javascript"></script>
    <script th:src="@{/js/controllers/detail-controller.js}" src="../static/js/controllers/detail-controller.js" type="text/javascript"></script>
    <script th:src="@{/js/controllers/node-menu-controller.js}" src="../static/js/controllers/node-menu-controller.js" type="text/javascript"></script>
    <script th:src="@{/js/controllers/create-controller.js}" src="../static/js/controllers/create-controller.js" type="text/javascript"></script>
    <script th:src="@{/js/controllers/link-child-controller.js}" src="../static/js/controllers/link-child-controller.js" type="text/javascript"></script>
    <script th:src="@{/js/controllers/node-cache.js}" src="../static/js/controllers/node-cache.js" type="text/javascript"></script>
</head>
<body>

    <div class="container">

        <div th:replace="navbar :: main"></div>

        <div data-ng-view=""></div>

        <h3>Debug Links</h3>
        <ul>
            <li><a th:href="@{/list}">List / generate test data</a></li>
        </ul>

    </div>
</body>
</html>