<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="nodeStandApp">
<head>
    <title>Finer Points</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0" />

    <meta name="_csrf" th:content="${_csrf.token}"/>

    <link rel="shortcut icon" href="favicon.ico"/>


    <!--Begin CDN Option-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.0/showdown.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <!--End CDN Option-->

    <!--OR-->

    <!--Begin Local Bundle Option-->

    <!--<script type="text/javascript" src="../../dist/vendor.bundle.js"></script>-->
    <!--<link rel="stylesheet" href="../../dist/vendor.bundle.css" />-->

    <!--End Local Bundle Option-->

    <script type="text/javascript" src="../../dist/app.bundle.js"></script>
    <link rel="stylesheet" href="../../dist/app.bundle.css" />
</head>
<body>
    <md-content class="body-inner">

        <div class="container">

            <div th:replace="navbar :: main"></div>

            <div data-ng-view=""></div>

            <div th:replace="footer :: main"></div>



        </div>

    </md-content>
</body>
</html>