<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<md-toolbar th:fragment="main">
    <div class="md-toolbar-tools">

        <md-button href="/#/" class="md-icon-button">
            <i class="fa fa-home"></i>
        </md-button>

        <span flex=""></span>


        <span ng-if="user" class="header-text">Welcome, <a href="/#/user/{{user.stableId}}">{{user.displayName}}</a></span>
        <md-button ng-if="user" href="/signout">Sign Out</md-button>


        <md-button href="#/login" ng-if="!user" class="md-raised" aria-label="Sign In">
            Sign in
        </md-button>
    </div>
</md-toolbar>

</html>