<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<md-toolbar th:fragment="main">
    <div class="md-toolbar-tools">

        <md-button href="/#/" class="md-icon-button">
            <i class="fa fa-home"></i>
        </md-button>

        <span flex=""></span>

        <span ng-if="user" class="header-text">
            Participating as <a href="/#/profile/{{user.activeAlias.stableId}}">{{user.activeAlias.displayName}}</a>
            <md-menu style="padding:0">
                <md-button class="md-raised" ng-click="$mdOpenMenu($event)" aria-label="Sort">
                    Switch Alias
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="alias in user.aliases">
                        <md-button ng-click="user.activeAlias = alias">
                            {{alias.displayName}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </span>

        <md-button ng-if="user" ng-click="logout()">Sign Out</md-button>

        <md-button href="#/login" ng-if="!user" class="md-raised" aria-label="Sign In">
            Sign in
        </md-button>
    </div>
</md-toolbar>

</html>