<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thought Pasta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
</head>

<body>
<div class="container">
    <div class="row">
        <div class="span14 columns offset2">
            <h1>Please sign in</h1>
            <h5>I don't want to store passwords, so please sign in with a social account.</h5>

            <form action="signin/google" method="POST">
                <button type="submit" class="btn btn-large btn-primary">Sign in with Google</button>
                <input type="hidden" name="scope" value="profile" />
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            </form>
        </div>
    </div>
</div>
</body>
</html>